<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Darbi StartIT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
  <section class="stage">
    <div class="divaaa"><a class="aaa"href="/atminasspele">Atmiņas spēle</a></div>
    <div class="divaaa"><a class="aaa"href="/kalkulators">Kalkulators</a></div>
    <div class="divaaa"><a class="aaa" href="/veidotaji">Veidotāji</a></div>
    <div class="divaaa"><a class="aaa"href="/saites">Saites</a> </div>
  </section>
    </body>
  </html>