<a href="/atminasspele">Atmiņas spēle</a>
<a href="/kalkulators">Kalkulators</a>
<br>
<html>
    <head>
        <title>Darbi StartIT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
<section class="stage">
    <div id="home" class="div"><a id="homep" class="a" href="/atminasspele">Atmiņas spēle</a></div><br>
    <div class="div"><a class="a" href="/kalkulators">Kalkulators</a></div><br>
    <div class="div"><a class="a" href="">Veidotāji</a></div><br>
    <div class="div"><a class="a" href="">Saites</a></div><br>
  </section>
    </body>
  </html>